In [4]:
from ndx_genotype import GenotypeNWBFile, GenotypeSubject, GenotypesTable, AllelesTable
from hdmf.common import (DynamicTable, VectorData, VectorIndex, ElementIdentifiers, EnumData,
                         DynamicTableRegion, get_manager, SimpleMultiContainer)

In [6]:
spec = [
    {'name': 'foo', 'description': 'foo column'},
    {'name': 'bar', 'description': 'bar column'},
    {'name': 'baz', 'description': 'baz column'},
]
data = [
    [1, 2, 3, 4, 5],
    [10.0, 20.0, 30.0, 40.0, 50.0],
    ['cat', 'dog', 'bird', 'fish', 'lizard']
]

In [7]:
def test_constructor_ids_default(self):
    columns = [VectorData(name=s['name'], description=s['description'], data=d)
               for s, d in zip(spec, data)]
    table = DynamicTable("with_spec", 'a test table', columns=columns)
    return table

def test_constructor_ids(self):
    columns = [VectorData(name=s['name'], description=s['description'], data=d)
               for s, d in zip(spec, data)]
    table = DynamicTable("with_columns", 'a test table', id=[0, 1, 2, 3, 4], columns=columns)
    return table

In [26]:
columns = [VectorData(name=s['name'], description=s['description'], data=d)
               for s, d in zip(spec, data)]

In [50]:
table = DynamicTable("with_columns", 'a test table', id=[0, 1, 2, 3, 4], columns=columns)

In [9]:
table = DynamicTable("with_spec", 'a test table', columns=columns)

In [10]:
table.id.data

[0, 1, 2, 3, 4]

In [51]:
table.to_dataframe()

    foo   bar     baz
id
0     1  10.0     cat
1     2  20.0     dog
2     3  30.0    bird
3     4  40.0    fish
4     5  50.0  lizard

In [55]:
columns2 = [
            {'name': 'symbol', 'description': 'foo column'},
            {'name': 'generation_method', 'description': 'foo column'},
            {'name': 'recombinase', 'description': 'bar column'},
            {'name': 'reporter', 'description': 'baz column'},
            {'name': 'promoter', 'description': 'baz column'},
            {'name': 'flanked_sequence', 'description': 'baz column'}
        ]

In [34]:
data2 = [
            ['TBD'],
            ['TBD'],
            ['TBD'],
            ['TBD'],
            ['TBD'],
            ['TBD']
        ]

In [35]:
at = AllelesTable(columns=columns2)

In [36]:
at.to_dataframe()

Empty DataFrame
Columns: [generation_method, recombinase, reporter, promoter, flanked_sequence, symbol]
Index: []

In [58]:
columns3 = [VectorData(name=s['name'], description=s['description'], data=d)
                   for s, d in zip(columns2, data2)]
at2 = AllelesTable(id=[0], columns=columns3)
at2.colnames

('symbol',
 'generation_method',
 'recombinase',
 'reporter',
 'promoter',
 'flanked_sequence')

In [45]:
len(columns3)

5

In [29]:
columns[0].data

[1, 2, 3, 4, 5]

In [46]:
columns3[0]

In [ ]:
colnames